@using AVStaffing.Models
@model AVStaffing.Models.ViewModels.OwnerViewModel
@{
    ViewBag.Title = "AddOwner";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string pageMode = Model.Id != 0 ? "Edit" : "Add";
}

<style>
    .field-validation-error {
        color: red
    }

    .validation-summary-errors {
        color: red;
    }

    .box-size {
        width: 32px;
        height: 32px;
    }

    .checkbox-size {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
</style>

<!-- Begin Subheader -->
<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!-- Begin Info -->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!-- Begin Page Heading -->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!-- Begin Page Title -->
                <h5 class="text-dark font-weight-bold my-1 mr-5">
                    Client Management
                </h5>
                <!-- End Page Title -->
                <!-- Begin Breadcrumb -->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Clients", "Client")">
                            Clients
                        </a>
                    </li>

                    <li class="breadcrumb-item">
                        <a href="#/" class="text-muted">
                            @Html.Raw(pageMode == "Add" ? "Add Client" : "Edit Client")
                        </a>
                    </li>
                </ul>
                <!-- End Breadcrumb -->
            </div>
            <!-- End Page Heading -->
        </div>
        <!-- End Info -->
    </div>
</div>
<!-- End Subheader -->
<!-- Begin Entry -->
<div class="d-flex flex-column-fluid">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Card -->
        @using (Html.BeginForm("AddClient", "Client", FormMethod.Post, new { id = "ownerForm", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.Id)

            <div class="card card-custom">
                <div class="card-header">
                    <div class="card-title">
                        <span class="card-icon"><i class="fa fa-user text-primary"></i></span>
                        <h3 class="card-label">@Html.Raw(pageMode == "Add" ? "Create Client" : "Update Client")</h3>
                    </div>
                </div>

                <div class="card-body px-0">
                    <div class="row">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-7 my-2">
                            <div class="form-group row">
                                <!-- FirstName Field -->
                                <div class="col-lg-6">
                                    @Html.LabelFor(x => x.FirstName, new { @class = "col-form-label text-lg-right text-left" })
                                    <div>
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control form-control-lg form-control-solid" })
                                        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- MiddleName Field -->
                                <div class="col-lg-6">
                                    @Html.LabelFor(x => x.MiddleName, new { @class = "col-form-label text-lg-right text-left" })
                                    <div>
                                        @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control form-control-lg form-control-solid" })
                                        @Html.ValidationMessageFor(x => x.MiddleName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <!-- LastName Field -->
                                <div class="col-lg-6">
                                    @Html.LabelFor(x => x.LastName, new { @class = "col-form-label text-lg-right text-left" })
                                    <div>
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control form-control-lg form-control-solid" })
                                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- Email Field -->
                                <div class="col-lg-6">
                                    @Html.LabelFor(x => x.Email, new { @class = "col-form-label text-lg-right text-left" })
                                    <div>
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-lg form-control-solid" })
                                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <!-- Address Field -->
                                <div class="col-lg-6">
                                    @Html.LabelFor(x => x.Address, new { @class = "col-form-label text-lg-right text-left" })
                                    <div>
                                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control form-control-lg form-control-solid" })
                                        @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- SIN Field -->
                                <div class="col-lg-6">
                                    @Html.LabelFor(x => x.SIN, new { @class = "col-form-label text-lg-right text-left" })
                                    <div>
                                        @Html.TextBoxFor(x => x.SIN, new { @class = "form-control form-control-lg form-control-solid" })
                                        @Html.ValidationMessageFor(x => x.SIN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <!-- Phone Field -->
                                <div class="col-lg-6">
                                    @Html.LabelFor(x => x.Phone, "Phone", new { @class = "col-form-label text-lg-right text-left" })
                                    <div>
                                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control form-control-lg form-control-solid" })
                                        @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- DateOfBirth Field -->
                                <div class="col-lg-6">
                                    @Html.LabelFor(x => x.DateOfBirth, new { @class = "col-form-label text-lg-right text-left" })
                                    <div>
                                        @Html.TextBoxFor(x => x.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-lg form-control-solid", type = "date" })
                                        @Html.ValidationMessageFor(x => x.DateOfBirth, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <!-- IsPersonalHST Field -->
                                <div class="col-lg-6">
                                    @Html.LabelFor(x => x.IsPersonalHST, new { @class = "col-form-label text-lg-right text-left" })
                                    <div class="mt-2">
                                        @Html.CheckBoxFor(x => x.IsPersonalHST, new { @class = "box-size", id = "isPersonalHST" })
                                        @Html.ValidationMessageFor(x => x.IsPersonalHST, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- HSTNumber Field (wrapped in its own div for easy targeting) -->
                                <div class="col-lg-6" id="hstNumberContainer">
                                    @Html.LabelFor(x => x.HSTNumber, new { @class = "col-form-label text-lg-right text-left" })
                                    <div>
                                        @Html.TextBoxFor(x => x.HSTNumber, new { @class = "form-control form-control-lg form-control-solid", id = "hstNumber" })
                                        @Html.ValidationMessageFor(x => x.HSTNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div id="corporationInputs"></div>


                            <div id="corporationsList">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Corporation Name</th>
                                            <th>Corporation Key</th>
                                            <th>Address</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var corporation in Model.Corporations)
                                        {
                                            <tr>
                                                <td>@corporation.CorpName</td>
                                                <td>@corporation.CorpKey</td>
                                                <td>@corporation.Address</td>
                                                <td>
                                                    <a style="cursor: pointer !important" href="#/" class="deleteSvedCorporation" data-id="@corporation.Id">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#corporationModal">
                                Add Corporation
                            </button>

                            <div class="form-group">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-primary font-weight-bold btn-lg px-3 font-size-base">
                                        @Html.Raw(pageMode == "Add" ? "Add Client" : "Save Changes")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- Modal -->
    <div class="modal fade " id="corporationModal" tabindex="-1" role="dialog" aria-labelledby="corporationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="corporationModalLabel">Add Corporation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="corporationForm">
                        <div class="row">
                            @*<div class="form-group d-flex col-12">
                                    <label for="isHSTRegistration">Corporation</label>
                                    <input type="checkbox" class="checkbox-size" id="isCorporation" name="IsCorporation">
                                </div>*@
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="corpName">Corporation Name</label>
                                    <input type="text" class="form-control" id="corpName" name="CorpName" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="corpKey">Corporation Key</label>
                                    <input type="text" class="form-control" id="corpKey" name="CorpKey" required>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="address">Business Address</label>
                                <input type="text" class="form-control" id="address" name="Address" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="businessEmail">Business Email</label>
                                <input type="email" class="form-control" id="businessEmail" name="BusinessEmail">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="businessNumber">Business Number</label>
                                <input type="text" class="form-control" id="businessNumber" name="BusinessNumber" required>
                            </div>
                            <div class="form-group d-flex col-12">
                                <label for="isHSTRegistration">HST Registration</label>
                                <input type="checkbox" class="checkbox-size" id="isHSTRegistration" name="IsHSTRegistration">
                            </div>
                            <div id="hstDependentFields" class="row col-12" style="display: none;">
                                <div class="form-group col-md-6">
                                    <label for="hstReportingPeriod">HST Reporting Period</label>
                                    <select class="form-control" id="hstReportingPeriod" name="HSTReportingPeriod">
                                        <option value="">Select a period</option>
                                        <option value="Monthly">Monthly</option>
                                        <option value="Quarterly">Quarterly</option>
                                        <option value="Annually">Annually</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="hstFiscalYear">HST Fiscal Year</label>
                                    <input type="date" class="form-control" id="hstFiscalYear" name="HSTFiscalYear">
                                </div>
                            </div>
                            <div class="form-group d-flex col-12">
                                <label for="isPayroll">Payroll</label>
                                <input type="checkbox" class="checkbox-size" id="isPayroll" name="IsPayroll">
                            </div>
                            <div id="PayrollDependentFields" class="row col-12" style="display: none;">
                                <div class="form-group col-md-6">
                                    <label for="pd7aReportingPeriod">PD7A Reporting Period</label>
                                    <select class="form-control" id="pd7aReportingPeriod" name="PD7AReportingPeriod">
                                        <option value="">Select a period</option>
                                        <option value="Monthly">Monthly</option>
                                        <option value="Quarterly">Quarterly</option>
                                        <option value="Annually">Annually</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="corpFiscalYear">Corporation Fiscal Year</label>
                                    <input type="date" class="form-control" id="corpFiscalYear" name="CorpFiscalYear">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm" id="saveCorporation">Save Corporation</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End Container -->
    @section Scripts{
        <script>
            $(document).ready(function () {
                $('#saveCorporation').click(function () {
                    var form = document.getElementById('corporationForm');
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        form.reportValidity();
                    } else {

                        var corporation = {
                            IsCorporation: true,
                            CorpName: $('#corpName').val(),
                            CorpKey: $('#corpKey').val(),
                            Address: $('#address').val(),
                            BusinessEmail: $('#businessEmail').val(),
                            BusinessNumber: $('#businessNumber').val(),
                            IsHSTRegistration: $('#isHSTRegistration').is(':checked'),
                            HSTFiscalYear: $('#hstFiscalYear').val(),
                            HSTReportingPeriod: $('#hstReportingPeriod').val(),
                            IsPayroll: $('#isPayroll').is(':checked'),
                            PD7AReportingPeriod: $('#pd7aReportingPeriod').val(),
                            CorpFiscalYear: $('#corpFiscalYear').val()
                        };
                        var index = $('#corporationInputs div').length; 

                        var corporationDiv = $('<div>').addClass('corporation-entry'); 

                        $.each(corporation, function (key, value) {
                            var inputName = 'Corporations[' + index + '].' + key;
                            $('<input>').attr({
                                type: 'hidden',
                                name: inputName,
                                value: value
                            }).appendTo(corporationDiv);
                        });

                        $('#corporationInputs').append(corporationDiv);

                        var newRow = '<tr><td>' + corporation.CorpName + '</td><td>' + corporation.CorpKey + '</td><td>' + corporation.Address + '</td>' + '<td><button type="button" class="btn remove-corp" data-index="' + index +'"><i class="fas fa-trash text-danger"></i></button></td></tr>';
                        $('#corporationsList tbody').append(newRow);

                        $('#corporationModal input').val('');
                        $('#corporationModal').modal('hide');
                    }

                });

                $('#corporationsList tbody').on('click', '.remove-corp', function () {
                    var indexToRemove = $(this).data('index'); 

                    $('#corporationInputs .corporation-entry').eq(indexToRemove).remove();

                    $(this).closest('tr').remove();

                    $('#corporationInputs .corporation-entry').each(function (newIndex) {
                        $(this).find('input').each(function () {
                            var name = $(this).attr('name');
                            var newName = name.replace(/Corporations\[\d+\]/, 'Corporations[' + newIndex + ']');
                            $(this).attr('name', newName);
                        });
                    });

                    $('#corporationsList tbody .remove-corp').each(function (i) {
                        $(this).data('index', i);
                        $(this).attr('data-index', i); 
                    });
                });

                 $(".deleteSvedCorporation").click(function() {
                    var id = $(this).data("id");
                    var row = $(this).parents("tr");
                    bootbox.confirm("This is saved Corporation. Are you sure you want to delete this Corporation ?",
                    function(r) {
                        if (r) {
                            $.post("@Url.Action("DeleteCorporation", "Client")",
                                    {
                                        corpId: id
                                    })
                                .done(function() {
                                    $(row).remove();
                                })
                                .fail(function() {

                                });
                                }
                        });
                 });

                toggleHSTNumberField();

                $('#isPersonalHST').change(function () {
                    toggleHSTNumberField();
                });

                $('#isHSTRegistration').change(function () {
                    toggleHSTDependentFields();
                });
                $('#isPayroll').change(function () {
                    togglePayrollDependentFields();
                });

                function toggleHSTNumberField() {
                    if ($('#isPersonalHST').is(':checked')) {
                        $('#hstNumberContainer').show();
                    } else {
                        $('#hstNumberContainer').hide();
                        $('#hstNumber').val(''); 
                    }
                }

                function toggleHSTDependentFields() {
                    if ($('#isHSTRegistration').is(':checked')) {
                        $('#hstDependentFields').show();
                    } else {
                        $('#hstDependentFields').hide();
                        $('#hstReportingPeriod').val('');
                        $('#hstFiscalYear').val('');
                    }
                }

                function togglePayrollDependentFields() {
                    if ($('#isPayroll').is(':checked')) {
                        $('#PayrollDependentFields').show();
                    } else {
                        $('#PayrollDependentFields').hide();
                        $('#pd7aReportingPeriod').val('');
                        $('#corpFiscalYear').val('');

                    }
                }
            });
        </script>

    }

</div>
<!-- End Entry -->
