@using AVStaffing.Infrastructure
@using AVStaffing.Models
@using AVStaffing.Models.Entities
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_ConsultorLayout.cshtml";
    var aboutPage = new ApplicationDbContext().Pages.FirstOrDefault(x => x.Route == "about");
}

@Html.Raw(aboutPage.Content)

<!--============= pages-hero-area ============-->
<!--<div class="inner-page-hero-area _relative">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto text-center">
                <div class="hadding hadding-sec">
                    <h1>About Us</h1>
                    <h6>Home > About Us</h6>
                </div>
            </div>
        </div>
    </div>
    <img src="@Url.Content("~/Assets/img/shapes/shape-1.svg")" alt="" class="shape-bottom-right _absolute">
    <img src="@Url.Content("~/Assets/img/shapes/shape-1.svg")" alt="" class="shape-bottom-left _absolute">
</div>-->
<!--============= pages-hero-area ============-->
<!--============= about-page-sec-about-start ============-->
<!--<div class="about-page-about-sec sec-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="about-page-img-all">
                    <div class="about-page-about-img1 img-border img100">
                        <img src="@Url.Content("~/Assets/img/image/about-page-img-1.png")" alt="">
                    </div>
                    <div class="space20"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-page-img-2 img-border img100">
                                <img src="@Url.Content("~/Assets/img/image/about-page-img-2.png")" alt="">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="about-page-img-3 img-border img100 space-sm-30">
                                <img src="@Url.Content("~/Assets/img/image/about-page-img-3.png")" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="about-haddings">
                    <div class="hadding hadding-p space-sm-30">
                        <span class="span">Who we Are</span>
                        <h1>We Prepare Federal, And <br> State Income Tax Returns <br> <span>Individuals Businesses.</span></h1>
                        <p>At Bobby Financial Services, we redefine the essence of tax filing. Far beyond the mere calculation and submission of numbers to the CRA, we perceive it as the cornerstone of individual and corporate financial strategy. With a wealth of experience spanning multiple years and the utilization of state-of-the-art technology, our expert team is committed to optimizing your savings and securing the most lucrative tax refunds possible. </p>
                        <div class="space20"></div>
    <p>But our expertise does not stop at tax planning. We offer a comprehensive suite of services designed to empower your financial journey. From facilitating the seamless registration and restructuring of corporations across Canada to providing meticulous bookkeeping services that offer real-time insights into your business performance, we are here to ensure that every aspect of your financial affairs is meticulously managed.</p>
    <div class="space20"></div>
                        <p>
                            Please feel free to browse our website to see the tax services we offer as well as the many helpful resources we provide.
                        </p>
                    </div>

                    <div class="check-list-all">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="chek-list">
                                    <p><img src="@Url.Content("~/Assets/img/icons/check.svg")" alt=""> IRS Tax Problems</p>
                                </div>
                                <div class="space20"></div>
                                <div class="chek-list">
                                    <p><img src="@Url.Content("~/Assets/img/icons/check.svg")" alt=""> Payroll Services</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="chek-list">
                                    <p><img src="@Url.Content("~/Assets/img/icons/check.svg")" alt=""> Tax Prepration and Planning</p>
                                </div>
                                <div class="space20"></div>
                                <div class="chek-list">
                                    <p><img src="@Url.Content("~/Assets/img/icons/check.svg")" alt=""> Bookkeeping and Virtual CFO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-btn-1 button btn-after home1-button">
                        <a href="#">Explore More About Us</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>-->
<!--============= about-page-sec-about-end ============-->
<!--============= about-page-sec-what-we-do-start ============-->
<!--<div class="what-we-do sec-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="hadding hadding-p">
                    <span class="span">What We Do</span>
                    <h1>We Can Help Resolve All Of Your Income <span>Tax Issues.</span></h1>
                    <p>As tax specialists, we are completely computerized and use e-file services for IRS, California Franchise Tax Board, and out-of-state.</p>
                </div>
                <div class="space10"></div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="preview-counter text-center hadding-p">
                            <h1><span class="counter-up">20</span>+</h1>
                            <p>Years of Experience</p>
                        </div>
                    </div>

                    <div class="col-md-6 text-center">
                        <div class="preview-counter text-center hadding-p">
                            <h1><span class="counter-up">25</span>K</h1>
                            <p>Happy Clients</p>
                        </div>
                    </div>

                    <div class="col-md-6 text-center">
                        <div class="preview-counter text-center hadding-p">
                            <h1><span class="counter-up">15</span>K</h1>
                            <p>Client Served</p>
                        </div>
                    </div>

                    <div class="col-md-6 text-center">
                        <div class="preview-counter text-center hadding-p">
                            <h1><span class="counter-up">100</span>%</h1>
                            <p>Client Satisfaction</p>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="about-page-img img-border space-sm-30">
                    <img src="@Url.Content("~/Assets/img/image/about-what-img.png")" alt="">
                </div>
            </div>
        </div>
    </div>
    <img src="@Url.Content("~/Assets/img/shapes/shape-1.svg")" alt="" class="shape-top-right _absolute">
    <img src="@Url.Content("~/Assets/img/shapes/shape-1.svg")" alt="" class="shape-bottom-left _absolute">
</div>-->
<!--============= about-page-sec-what-we-do-end ============-->
<!--============= about-page-why-choose-start ============-->
<!--<div class="about-choose sec-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="hadding about-page-hadding hadding-p">
                    <span class="span">Why Choose Us</span>
                    <h1>Our All-Inclusive Proactive <br> Advising System <span> Saves Money.</span></h1>
                    <p>Our assistance extends to navigating the complexities of loan applications with Canada's leading banks, ensuring that your business has access to the capital it needs to thrive. We also specialize in estate planning, helping you safeguard your legacy and ensure a smooth transition of assets to future generations. </p>
                    <div class="space20"></div>
                    <p>At Bobby Financial Services, we are not just your financial advisors; we are your trusted partners in realizing your financial aspirations. Let us guide you towards a future of prosperity and peace of mind.</p>
                    <div class="space30"></div>
                    <div class="header-btn-1 button btn-after home1-button">
                        <a href="#">Explore More About Us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 space-sm-50">
                <div class="about-choose-box">
                    <div class="about-choose-icon">
                        <img src="@Url.Content("~/Assets/img/icons/about-choose-icon-1.svg")" alt="">
                    </div>
                    <div class="hadding hadding-p">
                        <h4><a href="#">Cryptocurrency Taxes</a></h4>
                        <p>Consultore Tax is a service accounting firm Tax.</p>
                    </div>
                </div>

                <div class="about-choose-box">
                    <div class="about-choose-icon">
                        <img src="@Url.Content("~/Assets/img/icons/about-choose-icon-2.svg")" alt="">
                    </div>
                    <div class="hadding hadding-p">
                        <h4><a href="#">Strategic Planning</a></h4>
                        <p>Consultore Tax is a service accounting firm Tax.</p>
                    </div>
                </div>

                <div class="about-choose-box">
                    <div class="about-choose-icon">
                        <img src="@Url.Content("~/Assets/img/icons/about-choose-icon-3.svg")" alt="">
                    </div>
                    <div class="hadding hadding-p">
                        <h4><a href="#">Strategic Planning</a></h4>
                        <p>Consultore Tax is a service accounting firm Tax.</p>
                    </div>
                </div>

                <div class="about-choose-box">
                    <div class="about-choose-icon">
                        <img src="@Url.Content("~/Assets/img/icons/about-choose-icon-4.svg")" alt="">
                    </div>
                    <div class="hadding hadding-p">
                        <h4><a href="#">Strategic Planning</a></h4>
                        <p>Consultore Tax is a service accounting firm Tax.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>-->
<!--============= about-page-why-choose-end ============-->
<!--============= our-vision-start ============-->
<!--<div class="our-vision sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <div class="hadding">
                    <span class="span">Our Vision</span>
                    <h1>We Review Your Tax Returns To Create a Formal <span>Tax Strategy</span></h1>
                </div>
            </div>
            <div class="space-30"></div>
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="about-vision-box box-after">
                        <div class="about-vision-img">
                            <img src="@Url.Content("~/Assets/img/icons/about-vision-icon-1.svg")" alt="">
                        </div>
                        <div class="space20"></div>
                        <div class="hadding hadding-p">
                            <h4><a href="#">More Better Tax <br> Consultant</a></h4>
                            <div class="space10"></div>
                            <p>We prepare federal, and state income tax returns for the an small businesses.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 text-center">
                    <div class="about-vision-box box-after">
                        <div class="about-vision-img">
                            <img src="@Url.Content("~/Assets/img/icons/about-vision-icon-2.svg")" alt="">
                        </div>
                        <div class="space20"></div>
                        <div class="hadding hadding-p">
                            <h4><a href="#">24/7 All Time Customer Service</a></h4>
                            <div class="space10"></div>
                            <p>We prepare federal, and state income tax returns for the an small businesses.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 text-center">
                    <div class="about-vision-box box-after">
                        <div class="about-vision-img">
                            <img src="@Url.Content("~/Assets/img/icons/about-vision-icon-3.svg")" alt="">
                        </div>
                        <div class="space20"></div>
                        <div class="hadding hadding-p">
                            <h4><a href="#">Great World Record Awards</a></h4>
                            <div class="space10"></div>
                            <p>We prepare federal, and state income tax returns for the an small businesses.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 text-center">
                    <div class="about-vision-box box-after">
                        <div class="about-vision-img">
                            <img src="@Url.Content("~/Assets/img/icons/about-vision-icon-4.svg")" alt="">
                        </div>
                        <div class="space20"></div>
                        <div class="hadding hadding-p">
                            <h4><a href="#">Easy Consult Working Process</a></h4>
                            <div class="space10"></div>
                            <p>We prepare federal, and state income tax returns for the an small businesses.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <img src="@Url.Content("~/Assets/img/shapes/shape-1.svg")" alt="" class="shape-top-right _absolute">
    <img src="@Url.Content("~/Assets/img/shapes/shape-1.svg")" alt="" class="shape-bottom-left _absolute">
</div>-->
