@using AVStaffing.Infrastructure
@using AVStaffing.Models
@using AVStaffing.LocalResource.Home.Contact
@using AVStaffing.Models.Entities

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_ConsultorLayout.cshtml";
    var contatcPage = new ApplicationDbContext().Pages.FirstOrDefault(x => x.Route == "contact");
}

@Html.Raw(contatcPage.Content)


<!--============= pages-hero-area ============-->
<!--<div class="inner-page-hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto text-center">
                <div class="hadding hadding-sec">
                    <h1>Contact Us</h1>
                    <h6>Home > Contact</h6>
                </div>
            </div>
        </div>
    </div>
    <img src="@Url.Content("~/Assets/img/shapes/shape-1.svg")" alt="" class="shape-bottom-right _absolute">
    <img src="@Url.Content("~/Assets/img/shapes/shape-1.svg")" alt="" class="shape-bottom-left _absolute">
</div>-->

<!--============= pages-hero-area ============-->

<!--<div class="contact-page-contact sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 text-center" data-aos="fade-up" data-aos-duration="1000">
                <div class="home4-contact-box contact-page-box box-after">
                    <div class="contact-iocn">
                        <img src="@Url.Content("~/Assets/img/icons/home4-contact-iocn-1.svg")" alt="">
                    </div>
                    <h4>Our Location</h4>
                    <a href="tel:674-493-4289">674-493-4289</a>
                    <a href="tel:606-661-0241">606-661-0241</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 text-center" data-aos="fade-up" data-aos-duration="1200">
                <div class="home4-contact-box contact-page-box box-after">
                    <div class="contact-iocn">
                        <img src="@Url.Content("~/Assets/img/icons/home4-contact-iocn-2.svg")" alt="">
                    </div>
                    <h4>Phone Number</h4>
                    <p>984 West College St. Sun City, United States of America</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 text-center" data-aos="fade-up" data-aos-duration="1500">
                <div class="home4-contact-box contact-page-box box-after">
                    <div class="contact-iocn">
                        <img src="@Url.Content("~/Assets/img/icons/home4-contact-iocn-3.svg")" alt="">
                    </div>
                    <h4>Our Location</h4>
                    <a href="mailto:Maryjane38@gmail.com">Maryjane38@gmail.com</a>
                    <a href="mailto:Businesscoaching@gmail.com">Businesscoaching@gmail.com</a>
                </div>
            </div>

        </div>
    </div>
    <div class="space100"></div>-->

    <!--=====contact-start=======-->
    <!--=====contact-end=======-->
<!--</div>-->


<!--=====map-start=======-->
<!--<div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d196064.65881483705!2d88.93201515862421!3d24.061083775097945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39febca82f6a21ed%3A0x4040980d7c6874f8!2sKushtia%20District!5e0!3m2!1sen!2sbd!4v1673751720794!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>-->
