@using AVStaffing.Infrastructure
@using AVStaffing.Models
@using AVStaffing.Models.Constants
@using AVStaffing.Models.Entities
@model AVStaffing.Models.ViewModels.LoginViewModel
@using AVStaffing.LocalResource
@using AVStaffing.LocalResource.Home.Index

@{
    Layout = "~/Views/Shared/_WebBaseLayout.cshtml";

    ViewBag.Title = "Home Page";
    var homePage = new ApplicationDbContext().Pages.FirstOrDefault(x => x.Route == "home");

}
<style>
    form.search-box .search-form {
        width: 25%;
    }
</style>


@*@Html.Raw(homePage.Content)*@


<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center" data-background="@Url.Content("~/Theme/assets/img/hero/h1_hero.jpg")">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="hero__caption">
                            <h1 style="font-size:32px;margin-bottom:0px">
                                We help build people’s dream jobs here..
                                We actually “listen” to our
                                Employees and Employers!

                            </h1>
                            <h1 style="color: #CD6D19; font-size: 32px; margin-bottom: 0px">
                                The Right Job,
                                The Right Candidate,
                                The Right Place.
                            </h1>
                        </div>
                    </div>
                </div>
                <!-- Search Box -->
                <div class="row" style="margin-top:10px">
                    <div class="col-xl-8">
                        <!-- form -->
                        <form action="#" class="search-box" style="box-shadow:none">

                            <div class="search-form">
                                @*<a id="jobFormBtn">Looking for a Job</a>*@
                                <button style="height: 70px; background: #CD6D19;cursor:pointer; border:none" id="jobFormBtn">Looking for a Job</button>
                            </div>

                            <div class="search-form">
                                @*<a href="@Url.Action("Contact", "Home")">Looking to hire</a>*@
                                <button type="button" style="height: 70px; color:white;background: #CD6D19;cursor:pointer ;border:none" onclick='window.location="@Url.Action("Contact", "Home")"'>Looking For Hiring</button>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!-- Our Services Start -->
<div class="our-services section-pad-t30">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <span>FEATURED TOURS Packages</span>
                    <h2>Browse Top Categories </h2>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-contnet-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="job_listing.html">General Labour</a></h5>
                        <span>(35)</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-cms"></span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="job_listing.html">Project Manager</a></h5>
                        <span>(10)</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-report"></span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="job_listing.html">Forklift Operators</a></h5>
                        <span>(26)</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-app"></span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="job_listing.html">Supervisor</a></h5>
                        <span>(30)</span>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- More Btn -->
        <!-- Section Button -->
        <div class="row">
            <div class="col-lg-12">
                <div class="browse-btn2 text-center mt-50">
                    <a href="@Url.Action("Services", "Home")" class="border-btn2">Browse All Sectors</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Services End -->
<!-- Online CV Area Start -->
<div class="online-cv cv-bg section-overly pt-90 pb-120" data-background="@Url.Content("~/Theme/assets/img/gallery/cv_bg.jpg")">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="cv-caption text-center">
                    <p class="pera1">FEATURED TOURS Packages</p>
                    <p class="pera2"> Make a Difference with Your Online Resume!</p>
                    <a href="#" class="border-btn2 border-btn4">Upload your cv</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Online CV Area End-->
<!-- Featured_job_start -->
<section class="featured-job-area feature-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <span>Recent Job</span>
                    <h2>Featured Jobs</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="#"><img src="@Url.Content("~/Theme/assets/img/icon/job-list1.png")" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#"><h4>Bakers</h4></a>
                            <ul>
                                <li>Creative Agency</li>
                                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                <li>$3500 - $4000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="#">Full Time</a>
                        <span>7 hours ago</span>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="#"><img src="@Url.Content("~/Theme/assets/img/icon/job-list2.png")" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#"><h4>Handyman</h4></a>
                            <ul>
                                <li>Creative Agency</li>
                                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                <li>$3500 - $4000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="#">Full Time</a>
                        <span>11 hours ago</span>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="#"><img src="@Url.Content("~/Theme/assets/img/icon/job-list3.png")" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#"><h4>Plumber/ Electrician</h4></a>
                            <ul>
                                <li>Creative Agency</li>
                                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                <li>$3500 - $4000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="#">Full Time</a>
                        <span>13 hours ago</span>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="#"><img src="@Url.Content("~/Theme/assets/img/icon/job-list4.png")" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#"><h4>Supervisor</h4></a>
                            <ul>
                                <li>Creative Agency</li>
                                <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                <li>$3500 - $4000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="#">Full Time</a>
                        <span>7 hours ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured_job_end -->
<!-- How  Apply Process Start-->
<div class="apply-process-area apply-bg pt-150 pb-150" data-background="@Url.Content("~/Theme/assets/img/gallery/how-applybg.png")">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle white-text text-center">
                    <span>Apply process</span>
                    <h2> How it works</h2>
                </div>
            </div>
        </div>
        <!-- Apply Process Caption -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-search"></span>
                    </div>
                    <div class="process-cap">
                        <h5>1. Search a job</h5>
                        <p>Search your appropriate job with matching skills from our portal .</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-curriculum-vitae"></span>
                    </div>
                    <div class="process-cap">
                        <h5>2. Apply for job</h5>
                        <p>Apply for selected and matched job with your skills by uploading your Resume.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="process-cap">
                        <h5>3. Get your job</h5>
                        <p>Wait for our response after applying and get Job if you meet criteria.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- How  Apply Process End-->
<!-- Testimonial Start -->
<div class="testimonial-area testimonial-padding">
    <div class="container">
        <!-- Testimonial contents -->
        <div class="row d-flex justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-10">
                <div class="h1-testimonial-active dot-style">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <!-- founder -->
                            <div class="testimonial-founder  ">
                                <div class="founder-img mb-30">
                                    <img src="@Url.Content("~/Theme/assets/img/testmonial/testimonial-founder.png")" alt="">
                                    <span>Margaret Lawson</span>
                                    <p>Creative Director</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <!-- founder -->
                            <div class="testimonial-founder  ">
                                <div class="founder-img mb-30">
                                    <img src="@Url.Content("~/Theme/assets/img/testmonial/testimonial-founder.png")" alt="">
                                    <span>Margaret Lawson</span>
                                    <p>Creative Director</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <!-- founder -->
                            <div class="testimonial-founder  ">
                                <div class="founder-img mb-30">
                                    <img src="@Url.Content("~/Theme/assets/img/testmonial/testimonial-founder.png")" alt="">
                                    <span>Margaret Lawson</span>
                                    <p>Creative Director</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Support Company Start-->
<div class="support-company-area support-padding fix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="right-caption">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2">
                        <span>What we are doing</span>
                        <h2>24k Talented people are getting Jobs</h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top">
                            AV Staffing Inc is a leading provider of top-notch personnel solutions for businesses of all sizes. With a strong focus on quality and efficiency, our team is dedicated to helping you achieve your goals and overcome any challenges that come your way. Our mission is to be a trusted and reliable partner that you can count on, no matter what.

                            </p>
                        <p>
                            Our services are designed to meet the needs of any business, and our professional approach ensures that you receive the best possible results. Whether you need temporary or permanent staff, we have the resources and expertise to help. Our rigorous screening process ensures that only the most qualified and.
                            
                        </p>
                        <a href="@Url.Action("Contact", "Home")" class="btn post-btn">Post a job</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="support-location-img">
                    <img src="@Url.Content("~/Theme/assets/img/service/support-img.jpg")" alt="">
                    <div class="support-img-cap text-center">
                        <p>Since</p>
                        <span>1994</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Support Company End-->
<!-- Blog Area Start -->
<div class="home-blog-area blog-h-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <span>Our latest blog</span>
                    <h2>Our recent news</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="@Url.Content("~/Theme/assets/img/blog/home-blog1.jpg")" alt="">
                            <!-- Blog date -->
                            <div class="blog-date text-center">
                                <span>24</span>
                                <p>Now</p>
                            </div>
                        </div>
                        <div class="blog-cap">
                            <p>|   Properties</p>
                            <h3><a href="#">AVStaffing in Time is perfect House in Toranto</a></h3>
                            <a href="#" class="more-btn">Read more »</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="@Url.Content("~/Theme/assets/img/blog/home-blog2.jpg")" alt="">
                            <!-- Blog date -->
                            <div class="blog-date text-center">
                                <span>24</span>
                                <p>Now</p>
                            </div>
                        </div>
                        <div class="blog-cap">
                            <p>|   Properties</p>
                            <h3><a href="#">AVStaffing is offering more than 12k Jobs.</a></h3>
                            <a href="#" class="more-btn">Read more »</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area End -->


@section Scripts{

    <script>
        $("#owl-demo").owlCarousel({

            navigation: true, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
            items: 1,
            dots: true
            // "singleItem:true" is a shortcut for:
            // items : 1,
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false

        });

        $("#jobFormBtn").click(function () {
            $("#jobForm").modal("show");
        });

    </script>
}