@using AVStaffing.LocalResource
@using AVStaffing.LocalResource.Account
@model AVStaffing.Models.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="subheader py-2 py-lg-6  subheader-transparent " id="kt_subheader">
    <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">
                    @ChangePassword.ChangePasswordTitle
                </h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="#/" class="text-muted">
                            @ChangePassword.Account
                        </a>
                    </li>

                    <li class="breadcrumb-item">
                        <a href="#/" class="text-muted">
                            @ChangePassword.ChangePasswordTitle
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column-fluid">
    <div class=" container ">
        <div class="row">
            <div class="col-md-3"></div>


            <div class="col-md-6">
                <div class="card card-custom gutter-b card-stretch">
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">@ChangePassword.ChangePasswordTitle</span>
                        </h3>
                    </div>
                    <div class="card-body pt-2 pb-0">

                        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal kt-form kt-form--label-right", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group row">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xs-6">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xs-6">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xl-3 col-lg-3 col-form-label" })
                                <div class="col-lg-9 col-xs-6">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12 col-xl-12">
                                    <div class="float-right">
                                        <button type="submit" class="btn btn-primary btn-bold">@ChangePassword.ChangePasswordTitle</button>&nbsp;
                                        <a href="@Url.Action("Index", "Lead")" role="button" class="btn btn-secondary">@ChangePassword.CancelButton</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}