@model AVStaffing.Models.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_WebBaseLayout.cshtml";
}

<section class="row no-gutters p-0 bg-light min-vh-100">
    <div class="col-lg-6 d-none d-lg-block order-lg-2">
        <img class="flex-fill" src="@Url.Content("~/Frontend/assets/img/sign-up.jpg")" alt="Image">
    </div>
    <div class="col-lg-6">
        <section class="p-0 bg-gradient text-white" style="height: 100%">
            <div class="container min-vh-lg-100 d-flex flex-column justify-content-between text-center py-4 py-md-5">
                <a href="@Url.RouteUrl("Home")" class="fade-page">
                    <img src="@Url.Content("~/Frontend/assets/img/logos/jumpstart.svg")" alt="Jumpstart" data-inject-svg class="bg-white">
                </a>
                <div class="row justify-content-center my-5">
                    <div class="col-xl-7 col-lg-8">
                        <h1 class="h2 text-center mb-lg-5">Reset Password</h1>
                        <div class="card card-body shadow text-left text-dark">



                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {

                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Code)
                                @Html.HiddenFor(model => model.UserId)
                                @Html.AntiForgeryToken()
                                <div class="form-group row">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New Password" })

                                </div>

                                <div class="form-group form-group-last row">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })

                                </div>

                                <div class="row">
                                    <div class="col-8">
                                        <button id="kt_login_forgot_submit" class="btn btn-primary btn-block" type="submit">Change Password</button>

                                    </div>
                                    <div class="col-4">
                                        <a href="@Url.Action("Index","Home")" role="button" class="btn btn-danger btn-block" type="button">Cancel</a>
                                    </div>
                                </div>
                               

                            }

                        </div>
                        <div class="text-center text-small mt-3">
                            Don't have an account? <a class="text-white" href="@Url.RouteUrl("Register")">Sign up here</a>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="@Url.RouteUrl("Home")" class="btn btn-sm btn-light fade-page">Back to Home</a>
                </div>
            </div>
        </section>
    </div>
</section>
