@using System
@using System.Globalization
@using System.Security.Policy
@model AVStaffing.Controllers.NightLog_VM
@{
    ViewBag.Title = "AddNightLog";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var patientList = Model.Patients.Select(x => new SelectListItem
    {
        Text = $"{x.FirstName + " " + x.LastName} ({x.PhoneNumber})",
        Value = x.Id.ToString()
    }).ToList();

    var staffList = Model.Staff.Select(x => new SelectListItem
    {
        Text = $"{x.FirstName} ({x.Initials})",
        Value = x.Id.ToString()
    }).ToList();

    int i = 0;
}

<style>
    .field-validation-error {
        color: red
    }

    .validation-summary-errors {
        color: red;
    }

    .select2-results__option .wrap:before {
        font-family: fontAwesome;
        color: #999;
        content: "\f096";
        width: 25px;
        height: 25px;
        padding-right: 10px;
    }

    .select2-results__option[aria-selected=true] .wrap:before {
        content: "\f14a";
    }

    /* not required css */

    .row {
        padding: 10px;
    }

    .select2-multiple, .select2-multiple2 {
        width: 50%
    }

    .select2-selection__rendered {
        margin-top: -10px;
    }
</style>



<div class="subheader py-2 py-lg-6  subheader-transparent " id="kt_subheader">
    <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">
                    Night Log Management
                </h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="#/" class="text-muted">
                            Documents
                        </a>
                    </li>

                    <li class="breadcrumb-item">
                        <a href="#/" class="text-muted">
                            Add Night Log
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column-fluid">
    <div class="container">
        @using (Html.BeginForm("AddNightLog", "NightLog", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.NightLog.Id)

            <div class="card card-custom justify-content-center">
                <div class="card-header">
                    <div class="card-title">
                        <span class="card-icon"><i class="fa fa-user text-primary"></i></span>
                        <h3 class="card-label">
                            @if (Model.NightLog.Id != 0)
                            {

                                @Html.Raw("Update Night Log")
                            }
                            else
                            {
                                @Html.Raw("Create Night Log")
                            }
                        </h3>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-group row">
                        @Html.ValidationSummary(true)
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                @Html.HiddenFor(x => x.NightLog.Id)
                                @Html.LabelFor(x => x.NightLog.PatientId, "Patient")
                                @Html.DropDownListFor(x => x.NightLog.PatientId, patientList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.NightLog.DateOfAdmission)
                                @Html.TextBoxFor(x => x.NightLog.DateOfAdmission, new { @class = "form-control datepicker", placeholder = "Date", Value = Model.NightLog.DateOfAdmission == new DateTime() ? DateTime.Now.ToString("yyyy-MM-dd") : Model.NightLog.DateOfAdmission.ToString("yyyy-MM-dd") })
                                @Html.ValidationMessageFor(x => x.NightLog.DateOfAdmission)
                            </div>
                        </div>
                    </div>
                    <div class="row" style="border: 1px solid black;">
                        <div class="col-1" style="border-right:1px solid black"><h4>Time</h4></div>
                        <div class="col-2" style="border-right:1px solid black"><h4>A/S</h4></div>
                        <div class="col-3" style="border-right:1px solid black"><h4>INITIALS</h4></div>
                        <div class="col-6"><h4>COMMENTS</h4></div>
                    </div>
                    @foreach (var item in Model.NightLog.NightLogTimes)
                    {
                        <div class="row">
                            <div class="col-1" style="border-right:1px solid black">
                                @item.TimeStamp.ToString("hh:mm tt", CultureInfo.InvariantCulture)
                                <input type="hidden" name="NightLog.NightLogTimes[@i].TimeStamp" value="@item.TimeStamp.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture)" />
                            </div>
                            <div class="col-2" style="border-right:1px solid black">
                                <select class="form-control" name="NightLog.NightLogTimes[@i].SleepStatus">
                                    <option @(item.SleepStatus == ""  ? "selected" : "") value="">Select</option>
                                    <option @(item.SleepStatus == "S" ? "selected" : "")  value="S">Sleep</option>
                                    <option @(item.SleepStatus == "A" ? "selected" : "")  value="A">Awake</option>
                                </select>
                            </div>
                            <div class="col-3" style="border-right:1px solid black">
                                <select class="form-control" name="NightLog.NightLogTimes[@i].StaffId">
                                    <option value="">Select</option>
                                    @foreach (var staff in Model.Staff)
                                    {
                                        <option @(item.StaffId == staff.Id ? "selected" : "") value="@staff.Id">@staff.FirstName @staff.LastName (@staff.Initials)</option>

                                    }
                                </select>
                            </div>
                            <div class="col-6">
                                <textarea class="form-control" name="NightLog.NightLogTimes[@i].Comments">@item.Comments</textarea>
                            </div>
                        </div>

                        i++;
                    }

                    @*<div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">8:30P</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">9:00P</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">9:30P</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">10:00P</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">10:30P</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">11:00P</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">11:30P</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">12:00A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">12:30A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">1:00A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">1:30A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">2:00A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">2:30A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">3:00A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">3:30A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">4:00A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">4:30A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">5:00A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">5:30A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">6:00A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">6:30A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>
                        <div class="row" style="height: 30px; border: 1px solid black; border-top: none">
                            <div class="col-1 pt-1" style="border-right: 1px solid black">7:00A</div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-1 pt-1" style="border-right: 1px solid black"></div>
                            <div class="col-9 pt-1"></div>
                        </div>*@

                    <div class="form-group">
                        <div class="float-right">
                            <a href="@Url.Action("AddNightLog", "NightLog")" class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">
                                Back
                            </a>

                            <div class="btn-group ml-2">
                                <button type="submit" class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base">
                                    @if (Model.NightLog.Id == 0)
                                    {
                                        @Html.Raw("Add NightLog")
                                    }
                                    else
                                    {
                                        @Html.Raw("Save Changes")
                                    }
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/select2.multi-checkboxes.js")"></script>

    <script>
        jQuery(function ($) {
            $('.select2-multiple').select2MultiCheckboxes({
                placeholder: "Choose multiple elements",
                width: "auto",
                closeOnSelect: false
            });
            $(".select2-multiple").select2("open");
        });
    </script>




}